modules = ["python-3.12", "web", "nodejs-20"]
run = "python3 manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "python3 manage.py runserver 0.0.0.0:3000"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = 39545875
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 manage.py runserver 0.0.0.0:3000"
